{% extends 'base.html' %}

{% block content %}

    <div id="project_name"></div>
    <div id="filter_div"></div>


    <div id="addrow"></div>

    <div id="assignments"></div>
    <button id="button_save">Save</button>
    <button id="button_cancel">Cancel</button>

    <script>
        var entityType = "{{ entityType }}";
        var entityTypePlural = "{{ entityTypePlural }}";
        var stream_id = {{ stream_id }};
        var quarter_id = {{ quarter_id }};
        var subproject_id = {{ subproject_id }};
        var project_id = {{ project_id }};

        var ui = new AnalysisUI(
            {"name": "project_name", "assignments": "assignments", "addrow": "addrow", "filter":"filter_div"},
            {"project_id": project_id, "subproject_id": subproject_id, "quarter_id": quarter_id, "stream_id": stream_id}
        );
        ui.show();
        $("#button_cancel").on("click",
            function () {
                document.location = `/project/entity/list/{"entity_type":"teammember"}`;
            });
    </script>

{% endblock %}