project_assignments.html{% extends 'base.html' %}

{% block content %}

    <div id="person_name"></div>
    Quarter: <div id="quarter_select_div"></div>


    <div id="assignments"></div>
    <button id="button_save">Save</button>
    <button id="button_cancel" >Cancel</button>

    <script>
        var entityType= "{{ entityType }}";
        var entityTypePlural = "{{ entityTypePlural }}";
        var person_id = "{{ person_id }}";
        var quarter_id = "{{  quarter_id }}";

        var ui = new PersonAssignmentUI(person_id, {"name":"person_name",
            "assignments":"assignments", "addrow":"addrow"});
        ui.show();
        $("#button_cancel").on("click",
            function(){
                document.location=`/project/entity/list/{"entity_type":"teammember"}`;
            });
    </script>

{% endblock %}