{% extends 'base.html' %}

{% block content %}

    <div id="project_name"></div>
    Quarter: <div id="quarter_select_div"></div>


    <div id="assignments"></div>
    <button id="button_save">Save</button>
    <button id="button_cancel" >Cancel</button>

    <script>
        var entityType= "{{ entityType }}";
        var entityTypePlural = "{{ entityTypePlural }}";
        var project_id = "{{ project_id }}";
        var quarter_id = "{{  quarter_id }}";

        var ui = new ProjectAssignmentUI(project_id, {"name":"project_name",
            "assignments":"assignments"});
        ui.show();
        $("#button_cancel").on("click",
            function(){
                document.location=`/project/entity/list/{"entity_type":"teammember"}`;
            });
    </script>

{% endblock %}